h1 { color: blue;}

a{ color: greenyellow;}
a:hover {
    color: brown;
    font-size: 20px;
}

h1{
    border-bottom: 1px solid blueviolet;
}

h2{ 
    border: 1px solid blue;
    color: rgb(125, 189, 228);
}
.styleP1{ 
    font-family:'Times New Roman';
    font-size: 18px;
    line-height: 1.2;
    color:red;
    text-align: center;
    text-decoration: underline;
    text-indent: 36px;
}